#!/bin/bash
set -euxo pipefail

sudo apt update -y && sudo apt upgrade -y
sudo apt install -y curl git
curl -sfL https://get.k3s.io | sh -
echo "K3s Deployed"

cd /home/ubuntu
git clone https://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@github.com/NotVyx/COM617.git
cd ./COM617/Deployment/kustomize

sudo sed -i "s|PLACEHOLDER_POSTGREHOST|${postgres_host}|" ./opennms/hzn-core.configmap.yaml
sudo sed -i "s|PLACEHOLDER_ONMSPASSWORD|${onms_password}|" ./opennms/hzn-core.configmap.yaml
sudo sed -i "s|PLACEHOLDER_POSTGREPASSWORD|${postgres_password}|" ./opennms/hzn-core.configmap.yaml
sudo kubectl apply -f https://raw.githubusercontent.com/traefik/traefik/v2.10/docs/content/reference/dynamic-configuration/kubernetes-crd-definition-v1.yml
sudo kubectl apply -k .